.span {
    color: #7E8139;
    font-weight: bolder;
  }
  .savingsTxtContainer {
    line-break: anywhere;
    font-size: 3.5rem;
    margin: 2rem 0;
    width: 100%;
    padding: 5px;
    color: rgb(10, 10, 135);
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
  }
  .getAccessTo,
  .savings {
    display: flex;
    align-items: center;
    text-align-last: end;
  }
  .savings {
    position: relative;
    line-height: 120%;
    width: 800px;
  }
  .getAccessTo {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    color: var(--black);
    width: 700px;
  }
  .getAccessTo,
  .saveNow {
    position: relative;
  }
  .saveNow{
    color: rgb(10, 10, 135);
    font-weight: bold;
  }
  .saveNowWrapper {
    border-radius: 20px;
    border: 2px solid rgb(10, 10, 135); ;
    display: flex;
    flex-direction: row;
    padding: 0.7rem;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: var(--heading-16-size);
  }
  .savingsParent {
    /* border: 1px solid green; */
    width: 55vw;
    height: 250px;
  }
  .heroInner,
  .savingsParent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    right: 2rem;
  }
  .hero,
  .heroChild {
    flex-shrink: 0;
    overflow: hidden;
  }
  .heroChild {
    position: relative;
    background-color:whitesmoke;
    width: 500px;
    height: 500px;
    /* border: 1px solid black; */
    left: 5.8rem;
  }
  .hero {
    background: linear-gradient(
      180deg,
      #f6f6f6,
      rgba(255, 255, 255, 0.95) 35.27%
    );
    width: 94.3rem;
    height: 760px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-81xl) var(--padding-53xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  