.discountContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 94.4rem;

    background-color: #F6F6F6;
    margin-right: 10vw;
}
.TakeAction{
    color:#7E8139;
    font-weight: 500;
}
.discountContainer p{
    font-family: 'Open Sans', sans-serif;
    font-weight:bolder;
    font-size: 0.7rem;
    align-self: center;
}
@media only screen and (max-width: 391px) {
   .discountContainer{
    width: 375px;
    height: 40px;
    justify-content: flex-start;
   }
   .TakeAction{
    position: relative;
    right: -5rem;
   }
  }