.frameIcon {
    position: relative;
    width: 6vw;
    /* height: 3vh; */
    margin-left: 15px;
    /* flex-shrink: 0; */
    /* overflow: hidden; */
  }
  .invest {
    position: relative;
    cursor: pointer;
    font-size: var(--heading-16-size);
    font-family: var(--paragraph-20);
    color: navy;
    font-weight: bold;
    text-align: center;
    margin: 0 15px;
  }
  .chevronDownIcon {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .investParent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .frameWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .blogsWrapper,
  .frameParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frameParent{
    /* margin-right: 15vw; */
    color: navy;
    margin-left: 3rem;
  }
  .bestInvestmentOptions {
    position: relative;
    text-align: center;
  }
  .bestInvestmentOptionsWrapper,
  .navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .BIOButton{
    cursor: pointer;
    /* margin-right: 3vw; */
    border: 2px solid navy;
    color: white;
    padding: 12px;
    background-color:navy;
    font-family: 'Open Sans', sans-serif;
    border-radius:25px;
    font-weight: bold;
    justify-content: flex-end;
    right: 2rem;
    position: relative;
  }
  
  .VectorIcon{
      display:none;
  }
  .navBar {
    width: 94.3rem;
    height: 80px;
    flex-shrink: 0;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: space-between;
  }
  @media only screen and (max-width: 1024px) {
    .frameParent{
      display: none;
    }
    .frameIcon{
      width: 6rem;
    }
    .VectorIcon{
      display:unset;
      position: relative;
      right: 3rem;
  }
  .BIOButton{
    display: none;
  }
  }
  @media only screen and (max-width: 391px) {
    .navBar{
      width: 375px;
    }
    .frameIcon{
      width: 6rem;
    }
    .frameParent{
      display: none;
    }
    .VectorIcon{
      display:unset;
      position: relative;
      right: 1rem;
  }
  .BIOButton{
    display: none;
  }
  }
  