.frameIcon {
    position: relative;
    width: 6vw;
    /* height: 3vh; */
    margin-left: 15px;
    /* flex-shrink: 0; */
    /* overflow: hidden; */
  }
  .invest {
    position: relative;
    cursor: pointer;
    font-size: var(--heading-16-size);
    font-family: var(--paragraph-20);
    color: navy;
    font-weight: bold;
    text-align: center;
    margin: 0 15px;
  }
  .chevronDownIcon {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .investParent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .frameWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .blogsWrapper,
  .frameWrapper {
    /* align-self: stretch; */
    padding: var(--padding-9xl) var(--padding-5xl);
  }
  .blogsWrapper,
  .frameParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frameParent{
    /* margin-right: 15vw; */
    color: navy;
    margin-left: 3rem;
  }
  .bestInvestmentOptions {
    position: relative;
    font-size: var(--heading-16-size);
    font-family: var(--paragraph-20);
    color: var(--white);
    text-align: center;
  }
  .bestInvestmentOptionsWrapper,
  .navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .BIOButton{
    cursor: pointer;
    /* margin-right: 3vw; */
    border: 2px solid navy;
    padding: var(--padding-base);
    color: white;
    padding: 12px;
    background-color:navy;
    font-family: 'Open Sans', sans-serif;
    border-radius:25px;
    font-weight: bold;
    justify-content: flex-end;
  }
  .navBar {
    /* background-color: var(--white); */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 98vw;
    height: 80px;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0 var(--padding-53xl);
    box-sizing: border-box;
    justify-content: space-between;
  }
  