.stressFreeInvesting {
  position: relative;
  line-height: 120%;
  font-family: 'Open Sans', sans-serif;
  color:#121B64;
  font-weight: bold;
  font-size: 65px;
  
}

.loremIpsumDolor {
  position: relative;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 72px;
  line-height: 35.9px;
}

.joinTheWaitlist {
  position: relative;
  text-align: center;
}

.joinTheWaitlistWrapper {
  cursor: pointer;
  border: 0;
  border: 1px solid blue;
  padding: 10px;
  background-color:#121B64;
  color: white;
  border-radius:20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.stressFreeInvestingParent {
  position: absolute;
  top: calc(50% - 163px);
  left: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 837px;
  height: 304px;
}

.rupeeGoldCoin {
  position: absolute;
  top: -9px;
  left: 15rem;
  width: 9rem;
  height: 19rem;
  object-fit: cover;
}

.percentCoin1 {
  bottom: 139px;
  left: 17rem;
  width: 12rem;
  height: 15rem;
}

.arrowCoin1,
.fCoin2,
.percentCoin1 {
  position: absolute;
  /* object-fit: cover; */
}

.arrowCoin1 {
  right: 18rem;
  bottom: 147px;
  width: 12rem;
  height: 15rem;
  /* border: 2px solid red; */
}

.fCoin2 {
  top: -9px;
  width: 16rem;
  height: 20rem;
  right:12rem;
}

.hero {
  /* align-self: stretch; */
  position: relative;
  height: 700px;
  width: 94.4rem;
  /* flex-shrink: 0; */
  /* overflow: hidden; */
  text-align: center;
  
}
@media only screen and (max-width: 1024px) {
  .loremIpsumDolor{
    font-size: 1.5rem;
  }

}
@media only screen and (max-width: 391px) {
  .hero{
    height: 417px;
    width: 375px;
    /* background-color: yellow; */
  }
  .loremIpsumDolor{
    width: 327px;
    height: 63px;
    font-size: 0.8rem;
    line-height: 20.9px;
  }
  .joinTheWaitlistWrapper{
    width: 139px;
    height: 53px;
    border-radius: 50px;
  }
  .rupeeGoldCoin{
    height: 70px;
    width: 70px;
    left: -1rem;
    top:0.7rem;
  }
  .arrowCoin1{
    height: 66px;
    width: 66px;
    right: 2rem;
  }
  .fCoin2{
    width: 60px;
    height: 60px;
    right: 0.7rem;
    top: 1.2rem;
  }
  .percentCoin1{
    width: 72px;
    height: 72px;
    left: 0.8rem;
  }
  .stressFreeInvestingParent{
    width: 375px;
    height: 221px;
    left: -1rem;
    top: 4rem;
    margin-bottom: 1rem;
  }
  .stressFreeInvesting{
    height: 41px;
    width: 327px;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

}