.stressFreeInvesting {
  position: relative;
  line-height: 120%;
  font-family: 'Open Sans', sans-serif;
  color:#121B64;
  font-weight: bold;
  font-size: 65px;
  
}

.loremIpsumDolor {
  position: relative;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 72px;
  line-height: 35.9px;
}

.joinTheWaitlist {
  position: relative;

  font-size: var(--heading-16-size);

  color: var(--white);
  text-align: center;
}

.joinTheWaitlistWrapper {
  cursor: pointer;
  border: 0;
  border: 1px solid blue;
  padding: 10px;
  background-color:#121B64;
  color: white;
  border-radius:20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.stressFreeInvestingParent {
  position: absolute;
  top: calc(50% - 163px);
  left: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  width: 837px;
  height: 304px;
}

.rupeeGoldCoin {
  position: absolute;
  top: -9px;
  left: 15rem;
  width: 9rem;
  height: 19rem;
  object-fit: cover;
}

.percentCoin1 {
  bottom: 139px;
  left: 17rem;
  width: 12rem;
  height: 15rem;
}

.arrowCoin1,
.fCoin2,
.percentCoin1 {
  position: absolute;
  /* object-fit: cover; */
}

.arrowCoin1 {
  right: 18rem;
  bottom: 147px;
  width: 12rem;
  height: 15rem;
  /* border: 2px solid red; */
}

.fCoin2 {
  top: -9px;
  width: 16rem;
  height: 20rem;
  right:12rem;
}

.hero {
  /* align-self: stretch; */
  position: relative;
  border-radius: 0 0 var(--br-61xl) var(--br-61xl);
  background-color: var(--white);
  height: 700px;
  width: 98vw;
  /* flex-shrink: 0; */
  /* overflow: hidden; */
  text-align: center;
  font-size: var(--heading-80-size);
  color: var(--brand-blue);
  font-family: var(--paragraph-20);
  
}