.frameChild {
    position: relative;
    border-radius: var(--br-7xs);
    width: 296px;
    height: 203px;
    flex-shrink: 0;
    overflow: hidden;
    margin-top: 0.6rem;
    object-fit: cover;
  }
  .saveMoneyThe,
  .toremIpsumDolor {
    align-self: stretch;
    position: relative;
    margin: 15px 0;
  }
  /* .saveMoneyThe{
    font-weight: bold;
  } */
  .toremIpsumDolor {
    color: grey;
  }
  .frameGroup,
  .saveMoneyTheRightWayParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .saveMoneyTheRightWayParent {
    width: 296px;
    overflow: hidden;
    padding:5px;
    box-sizing: border-box;
    /* margin-bottom: 5px; */
  }
  .may2023,
  .readNow {
    position: relative;
    color: grey;
    font-size: 1rem;
  }
  .readNow {
    color: rgb(144, 174, 68);
  }
  .frameParent,
  .may2023Parent {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding:7px;
    align-items: center;
    justify-content: space-between;

  }
  .frameParent {
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    flex-direction: column;
    text-align: left;
    color: black;
  }
  @media only screen and (max-width: 1024px) {
    .saveMoneyThe,
    .toremIpsumDolor{
      margin: 6px 0;
    }
    .frameChild{
      width: 407px;
    }
  }
  @media only screen and (max-width: 391px) {
    .frameParent{
      width: 327px;
      height: 290px;
      min-height: 290px;
    }
    .frameChild{
      width: 311px;
      height: 150px;
    }
    .saveMoneyTheRightWayParent{
      width: 311px;
      /* border: 1px solid black; */
      height: 79px;
    }
    .toremIpsumDolor{
      width: 311px;
      height: 54px;
      font-size: 1rem;
    }
    .InvisibleContainer{
      visibility: hidden;
    }
    
  }
 


  