.inThePress {
    position: relative;
    line-height: 120%;
    font-size: 2.8rem;
    color: #121B64;
    font-weight: bold;
  }
  .discoverThePassion {
    position: relative;
    font-size:1.4rem;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42vw;
    color: #32302F;
  }
  .inThePressParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4rem;
    gap: 50px;
  }
  .image16Icon {
    position: absolute;
    top: 48px;
    left: 7px;
    width: 285px;
    height: 102px;
    object-fit: cover;
  }
  .image16Wrapper {
    position: relative;
    background-color: var(--white);
    width: 300px;
    height: 150px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .image14Icon,
  .image15Icon {
    position: absolute;
    top: 34px;
    left: 5px;
    width: 289px;
    height: 116px;
    object-fit: cover;
  }
  .image15Icon {
    top: 56px;
    left: 0;
    width: 306px;
    height: 94px;
  }
  .frameGroup {
    position: absolute;
    top: 10px;
    width: 90vw;
    /* left: 118px; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

  }
  .frameWrapper {
    position: relative;
    width: 1296px;
    height: 170px;
    flex-shrink: 0;
    overflow: hidden;
    justify-content: space-between;
  }
  .desktop1440Inner,
  .frameParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .frameParent {
    margin-top: 5rem;
    width: 90vw;
    height: 60vh;
  }
  .desktop1440Inner {
    background-color: rgb(251, 250, 250);
    width: 94.3rem;
    height: 760px;
    flex-shrink: 0;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50px;
    /* border: 1px solid gray; */
  }
  @media only screen and (max-width: 1024px) {
   .desktop1440Inner{
    height: 600px;
   }
   .frameParent{
    height: 880px;
   }
   .frameWrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
   }
  }
  @media only screen and (max-width: 391px) {
  .desktop1440Inner{
    height: 304px;
    /* border: 1px solid black; */
    width: 375px;
  }
  .frameParent{
    /* border: 1px solid red; */
    width: 327px;
    height: 208px;
    margin-top: 1rem;
  }
  .inThePressParent{
    width: 327px;
    height: 136px;
    margin-bottom: unset;
  }
  .inThePress{
    width: 155px;
    height: 41px;
    font-size: 1.6rem;
  }
  .discoverThePassion{
    width: 327px;
    height: 63px;
    font-size: 1rem;
    top: -2rem;
  }
  .frameWrapper{
    width: 327px;
    height: 100px;
    /* border: 1px solid black; */
  }
  .frameGroup{
    width: 327px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
  }
  .image16Wrapper{
    width: 80px;
    height: 90px;
    overflow: hidden;
  }
  .image16Icon{
    width: 75px;
    height: 27.2px;
  }
  .image14Icon{
    width: 77.07px;
    height: 30.93px;
    top: 2.5rem;
  }
  .image15Icon{
    width: 81.6px;
    height: 25.07px;
    top: 2.7rem;
  }
  }
  