.span {
  color: green;
}
.savingsTxtContainer {
  line-break: anywhere;
  font-size: 3.5rem;
  margin: 2rem 0;
  width: 100%;
  padding: 5px;
}
.getAccessTo,
.savings {
  display: flex;
  align-items: center;
}
.savings {
  position: relative;
  line-height: 120%;
  width: 800px;
}
.getAccessTo {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: var(--black);
  width: 700px;
}
.getAccessTo,
.saveNow {
  position: relative;
}
.saveNowWrapper {
  border-radius: var(--br-36xl);
  border: 1px solid var(--brand-blue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--heading-16-size);
}
.savingsParent {
  border: 1px solid green;
  width: 55vw;
  height: 250px;
}
.heroInner,
.savingsParent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  left:2rem;
}
.hero,
.heroChild {
  flex-shrink: 0;
  overflow: hidden;
}
.heroChild {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 500px;
  height: 500px;
}
.hero {
  border-radius: 0 0 var(--br-61xl) var(--br-61xl);
  background: linear-gradient(
    180deg,
    #f6f6f6,
    rgba(255, 255, 255, 0.95) 35.27%
  );
  width: 98vw;
  height: 760px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-81xl) var(--padding-53xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: var(--heading-64-size);
  color: var(--brand-blue);
  font-family: var(--paragraph-20);
}
