.span {
    color: #7E8139;
    font-weight: bolder;
  }
  .savingsTxtContainer {
    line-break: anywhere;
    font-size: 3.5rem;
    margin: 2rem 0;
    width: 100%;
    padding: 5px;
    color: rgb(10, 10, 135);
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
  }
  .getAccessTo,
  .savings {
    display: flex;
    align-items: center;
    text-align-last: end;
  }
  .savings {
    position: relative;
    line-height: 120%;
    width: 800px;
  }
  .getAccessTo {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    width: 700px;
  }
  .getAccessTo,
  .saveNow {
    position: relative;
  }
  .saveNow{
    color: rgb(10, 10, 135);
    font-weight: bold;
  }
  .saveNowWrapper {
    border-radius: 20px;
    border: 2px solid rgb(10, 10, 135); ;
    display: flex;
    flex-direction: row;
    padding: 0.7rem;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
  }
  .savingsParent {
    /* border: 1px solid green; */
    width: 55vw;
    height: 250px;
  }
  .heroInner,
  .savingsParent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    right: 2rem;
  }
  .hero,
  .heroChild {
    flex-shrink: 0;
    overflow: hidden;
  }
  .heroChild {
    position: relative;
    background-color:whitesmoke;
    width: 500px;
    height: 500px;
    /* border: 1px solid black; */
    left: 5.8rem;
  }
  .hero {
    background: linear-gradient(
      180deg,
      #f6f6f6,
      rgba(255, 255, 255, 0.95) 35.27%
    );
    width: 98vw;
    height: 760px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  @media only screen and (max-width: 391px) {
    .hero{
      width: 375px;
      height: 631px;
      background:unset;
      flex-direction: column-reverse;
      /* align-items: unset; */
    }
    .heroChild{
      width: 327px;
      height: 327px;
      left: -0.95rem;
    }
    .heroInner{
      height: 205px;
      width: 327px;
      right: -1rem;
    }
    .savings{
      width: 327px;
      height: 41px;
      right: 1.7rem;
  
      /* border: 1px solid black; */
    }
    .savingsParent{
      margin-top: -5rem;
    }
    .savingsTxtContainer{
      font-size: 2.5rem;
      right: 1rem;
      position: relative;
    }
    .getAccessTo{
      font-size: 1rem;
      text-align: left;
      width: 327px;
      height: 42px;
      right: 4.5rem;
      /* text-align-last: center ; */
  
    }
    .saveNowWrapper{
      position: relative;
      padding: 1.4rem;
      border-radius: 30px;
      /* right: 2.5rem; */
    }
  
  }